
/* The css is written so that we can modify the variables below from
 * JS, and the changes automatically apply to the grid dimensions and
 * the position of the agent without any tinkering in javascript. 
 */ 
:root {
	--grid-n-rows: 7;
	--grid-n-cols: 8;
	--agent-row: 5;
	--agent-col: 0;
}

* {
}

#container {
	outline: 1px solid black;
	max-width: 100vw;
    display: flex;
	flex-direction: row;
	height: 95vh;
	box-sizing: border-box;
}

#level-selection-area {
	width: 10vw;
	outline: 1px solid black;
}

#code-area {
	display: flex;
	outline: 1px solid black;
	flex-direction: column;
	height: 100%;
	max-width: 28vw;
	min-width: 0;
	flex-grow: 1;
}

#code-input, .CodeMirror {
	/*height: 70% !important;*/
	flex-grow: 1;
	width: 100% !important;
	max-width: 100% !important;
	font-family: monospace; 
	font-size: 14px;
	line-height: 1.4;
	box-sizing: border-box;
	outline: 1px solid black;
}

.highlighted-line {
	background-color: yellow;
}


#playback-controls {
	height: 50px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#playback-controls button {
	width: 50px;	
	margin: 3px 4px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#playback-controls button .icon {
	height: 80%;
	aspect-ratio: 1 / 1;
}

#code-output {
	height: 30%;	
}


#game-view {
	outline: 1px solid black;
	width: 62vw;
	height: 100%;
	aspect-ratio: 1 / 1;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	container-type: size;
}

#game-view #grid {

	outline: 1px solid black;
	box-sizing: border-box;

	display: grid;

	/* The grid dimensions, and also the aspect ratio, gets updated
	 * automatically when we change the two variables below from
	 * Javascript */
	grid-template-columns: repeat(var(--grid-n-cols), 1fr);
	grid-template-rows:    repeat(var(--grid-n-rows), 1fr);

	/* Ensure that the grid has an aspect ratio that allows all the cells to 
	 * be square. cqw/cqh are container size queries that refers to the closest
	 * ancestor in the DOM that has the container-type  css property set.*/ 
	width: min(100cqw, 100cqh * (var(--grid-n-cols) / var(--grid-n-rows)));
	height: min(100cqw * (var(--grid-n-rows) / var(--grid-n-cols)), 100cqh);
}

.game-tile {
	outline: 1px solid black;
	box-sizing: border-box;
	background-color: #b0b0b0;
	aspect-ratio: 1 / 1;
	width: 100%;
	position: relative;
}

.r { background-color: #fdff15; }
.g { background-color: #8be01a; }
.b { background-color: #99d9ea; }

/* The agent needs to be placed INSIDE the top-left grid cell 
 * in the grid for the calculations to work properly */
#agent {
	box-sizing: border-box;
	background-size: 100%;
	position: relative;
	transition: transform 0.3s ease;
	z-index: 100;

	height: 100%;
	width: 100%;

	/* Since the agent is inside a grid cell and its size is 100% of its 
	 * parents size, translating by 100% moves exactly one grid cell over*/
	transform: translate(calc(var(--agent-col)*100%), calc(var(--agent-row)*100%));
}
